* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #fff; */
    /* font-family: "Poppins"; */
}

#head_id {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    color: #fff;
    width: 100%;
    height: 70px;
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 10px;
    border-bottom: 2px solid #ffffff44;
}

.head > a {
    text-decoration: none;
    color: #fff;
    margin: 30PX;
}

.head > a:hover {
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

.head > img {
    height: 40px;
    margin-right: 90px;
    margin-left: 40px;
}

.head > i {
    height: 50px;
}

.logo {
    height: 50px;
}

.logo_link {
    text-decoration-line: none;
}

.book_form {
    color: #fff;
    padding: 15px 25px;
    background-color: transparent;
    border: 1px solid #fff;
}

.hero {
    width: 100%;
    height: 93vh;
    background-image: url(../imgs/head_imgs/hotel_home.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.493);
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    color: #fff;
    width: 800px;
    height: 300px;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 90px;
}

.message > h3 {
    font-size: 90px;
}

.message > h4 {
    font-size: 20px;
    margin-top: 30px;
}

.room_calc {
    color: #fff;
    background-color: #53624e;
    position: absolute;
    width: 83%;
    height: 110px;
    bottom: -40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_butt {
    color: #fff;
    background-color: transparent;
    border: 1px solid #b99d75;
    font-size: 15px;
    width: 180px;
    height: 50px;
}

.check_av {
    color: #fff;
    background-color: #b99d75;
    border: 1px solid #b99d75;
    font-size: 15px;
    width: 180px;
    height: 50px;
}

.main {
    padding-top: 90px;
    background-color: #f3f3f0;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* height: 400px; */
    padding-bottom: 100px;
}

.img_main {
    font-size: 20px;
    color: #5f6d5b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_text1 {
    width: 900px;
    text-align: center;
    color: #1a1a1a;
    font-size: 30px;
    padding: 20px;
}

.main_text2 {
    color: #454744;
    font-size: 20px;
    width: 900px;
    text-align: center;
    margin-bottom: 100px;
}

.scroll_imgs {
    /* background-color: aqua; */
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.scroll_card1 {
    background-color: brown;
    background-image: url(../imgs/main_scrolls/main_scroll1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 100%;
}

.scroll_card2 {
    background-color: brown;
    background-image: url(../imgs/main_scrolls/main_scroll2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 100%;
}

.scroll_card3 {
    background-color: brown;
    background-image: url(../imgs/main_scrolls/main_scroll3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 100%;
}

.scroll_card4 {
    background-color: brown;
    background-image: url(../imgs/main_scrolls/main_scroll4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 100%;
}

.main_text3 {
    margin-bottom: 120px;
}

.main_vid {
    width: 100%;
    height: 550px;
    background-color: black;
    margin-bottom: 70px;
}

.main2 {
    width: 100%;
    /* background-color: aqua; */
    padding: 0px 70px;
}

.main_text4 {
    width: 100%;
    color: #454744;
    
}

.main2_2nd {
    /* background-color: rgb(0, 255, 76); */
    /* height: 40px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.main2_2nd > h1 {
    font-size: 50px;
}

.main2_2nd > button {
    padding: 15px 50px;
    background-color: #b99d75;
    color: #fff;
    border: 1px solid #b99d75
}

.three_cards {
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards {
    position: relative;
    /* background-color: aqua; */
    height: 100%;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.cards > h4 {
    color: #333632;
}

.price_butt {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    width: 90px;
    height: 50px;
    top: 20px;
    left: 20px;
}

.img_holder1 {
    width: 100%;
    height: 55%;
    background-image: url(../imgs/card_imgs/card1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img_holder2 {
    width: 100%;
    height: 55%;
    background-image: url(../imgs/card_imgs/card2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img_holder3 {
    width: 100%;
    height: 55%;
    background-image: url(../imgs/card_imgs/card3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.icon_holders {
    /* background-color: lawngreen; */
    width: 100%;
    /* height: 50px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon_holders > i {
    size: 30px;
}

.dis_butt {
    background-color: transparent;
    font-size: 15px;
    /* height: 20px; */
    width: 100px;
    border: none;
    border-bottom: 1px solid #b99d75;
    display: flex;
    justify-content: start;
}


.buttom_img {
    width: 100%;
    height: 500px;
    background-image: url(../imgs/footer_imgs/footerimg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shade {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.548);
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter {
    width: 100%;
    height: 100%;
    /* background-color: azure; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.news_left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    color: #fff;
    padding: 80px;
}

.top {
    font-size: 20px;
    margin-bottom: 30px;
}

.bottom {
    font-size: 50px;
}

.news_right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.eput {
    background-color: transparent;
    height: 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.terms {
    display: flex;
    color: #f3f3f0;
}

footer {
    width: 100%;    
    height: 280px;
    background-color: black;
    /* margin-top: 100px; */
    color: #fff;
}

.footer_top {
    width: 100%;
    height: 50%;
    display: flex;
}

.footer_nav {
    width: 25%;
    height: 100%;
    border: 1px solid #232323;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_title {
    color: #292e27;
}

.footer_terms {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.group {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}